{
  "NSPrivacyTracking": false,
  "NSPrivacyTrackingDomains": [],
  "NSPrivacyCollectedDataTypes": [],
  "NSPrivacyAccessedAPITypes": [
    {
      "NSPrivacyAccessedAPIType": "NSPrivacyAccessedAPICategoryUserDefaults",
      "NSPrivacyAccessedAPITypeReasons": [
        "CA92.1"
      ]
    },
    {
      "NSPrivacyAccessedAPIType": "NSPrivacyAccessedAPICategoryNetworkInformation",
      "NSPrivacyAccessedAPITypeReasons": [
        "1C8.1"
      ]
    }
  ]
}